
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";

}
@model IEnumerable<Learner>
<div class="ms-2 mx-2">
    <h1>Learner List</h1>
    @await Component.InvokeAsync("Major")
    <div id="content">
        <table class="table table-striped">
            @*  khi ta có sự kiện click vào phân trang thì sẽ gọi ra patialview còn  thăng table này *@
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Họ</th>
                    <th>Ngành</th>
                    <th>Ngày nhập học</th>
                    <th>Chức Năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.LearnerID</td>
                        <td>@s.FirstMidName</td>
                        <td>@s.LastName</td>
                        <td>@s.Major.MajorName</td>
                        <td>@s.EnrollmentDate</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@s.LearnerID">Edit</a>|
                            <a asp-action="Delete" asp-route-id="@s.LearnerID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
        <div class="text-center">
            @if (ViewBag.pageCount > 1)
            {
                <ul class="pagination">
                    @for (int i = 1; i <= ViewBag.pageCount; i++)
                    {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" onclick="loadPage(@i, @ViewBag.PageSize)" style="cursor:pointer">@i</a>
                     </li>
                    }
                </ul>
            }
        </div>
        </div>
    <a asp-action="Create" class="btn btn-primary">Create new Student</a>
</div>
@section Scripts{
    <script>
        $("li").click(function (e) {
            var id = $(this).attr("id");
            if (id === "0") {
                window.location.href="/Learner/Index"
            }
            $.ajax({
                url: "/Learner/LearnerByMajorID", // Đảm bảo đặt đúng URL của action
                data: { mid: id },
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });
        
    </script>
};

@section Paginate{
    <script>
        function loadPage(page, pageSize) {
            $.ajax({
                url: '/Learner/GetPage',
                data: { page: page, pageSize: pageSize },
                success: function (data) {
                    $('#content').html(data);

                    
                },
                error: function () {
                    alert('Có lỗi xảy ra khi tải trang.');
                }
            });
        }
    </script>
};
